<div id='payment-wrapper' class="planner-payment-wrapper">
    <header>
        <div class="module-title">
            <div class='title'>PAYMENTS LIST</div>
            <div class='underline'></div>
        </div>
    </header>
    <div class="payments-detail-wrapper">
        <div class="payment-operations">
            <div id='searchTemplate' class='search-wrapper planner-payment-search'>
                <div class="e-input-group" role="search">
                    <input id="schedule_searchbar" class="e-input" name="input" type="search"
                        placeholder="Search Payment" (keyup)="paymentSearch($event)" />
                    <span class="e-clear-icon" aria-label="close" role="button"
                        (click)="paymentSearchCleared($event)"></span>
                    <span id="schedule_searchbutton" class="e-input-group-icon search-icon e-icons" tabindex="-1"
                        title="Search" aria-label="search"></span>
                </div>
            </div>
        </div>
        <div class="payment-display">
            <ejs-grid #gridObj [dataSource]='filteredPayments'>
                <e-columns>
                    <e-column field='id' headerText='Bill No' width='50' textAlign='Left'></e-column>
                    <e-column field='patient' headerText='PatientName' width='100' textAlign='Left'></e-column>
                    <e-column field='supplier' headerText='SupplierName' width='100' textAlign='Left'></e-column>
                    <e-column field='oxygen' headerText='Oxygen ID' width='80' textAlign='Left'></e-column>
                    <e-column field='date' headerText='Created At' width='80' textAlign='Left'></e-column>
                    <e-column field='price' headerText='Price' width='150' textAlign='Left'></e-column>
                    <e-column field='tax' headerText='Tax' width='100' textAlign='Left'></e-column>
                    <e-column field='total' headerText='Total' width='120' textAlign='Left'></e-column>
                </e-columns>
            </ejs-grid>
        </div>
    </div>
<div class="mdc-touch-target-wrapper">
    <button class="mdc-fab mdc-fab--mini mdc-fab--touch">
        <div class="mdc-fab__ripple"></div>
        <span class="material-icons mdc-fab__icon">add</span>
        <div class="mdc-fab__touch"></div>
    </button>
</div>
</div>